In [1]:
import seaborn as sns
import sklearn as sk 
import pandas as pd

In [2]:
df = pd.read_csv('simpsons_dataset.csv').dropna()
df.head()

        raw_character_text                                       spoken_words
0              Miss Hoover  No, actually, it was a little of both. Sometim...
1             Lisa Simpson                             Where's Mr. Bergstrom?
2              Miss Hoover  I don't know. Although I'd sure like to talk t...
3             Lisa Simpson                         That life is worth living.
4  Edna Krabappel-Flanders  The polls will be open from now until the end ...

In [3]:
df['raw_character_text'].value_counts().head()

Homer Simpson          27850
Marge Simpson          13172
Bart Simpson           12995
Lisa Simpson           10756
C. Montgomery Burns     3077
Name: raw_character_text, dtype: int64

Bart has more lines than Lisa????

In [4]:
df_subset = df[(df['raw_character_text']=='Bart Simpson') | (df['raw_character_text'] == 'Lisa Simpson')]
df_subset.head()

   raw_character_text                         spoken_words
1        Lisa Simpson               Where's Mr. Bergstrom?
3        Lisa Simpson           That life is worth living.
7        Bart Simpson       Victory party under the slide!
9        Lisa Simpson        Mr. Bergstrom! Mr. Bergstrom!
11       Lisa Simpson  Do you know where I could find him?

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

text = df_subset['spoken_words'].values.astype('U')

vect = CountVectorizer(stop_words='english')
vect = vect.fit(text) 
feature_names = vect.get_feature_names() 
print(f"There are {len(feature_names)} words in the vocabulary. A selection: {feature_names[500:520]}")

There are 14257 words in the vocabulary. A selection: ['anguished', 'angus', 'anima', 'animal', 'animals', 'animated', 'animation', 'animators', 'anka', 'ankle', 'ann', 'annapolis', 'anne', 'annie', 'anniversary', 'annnnd', 'announce', 'announcement', 'announcements', 'announcer']

In [6]:
matrix = vect.transform(text) 
# print(matrix)

In [7]:
df_sub = pd.DataFrame(matrix.toarray()) 
df_sub.index = df_subset['raw_character_text'] 
df_sub.columns = feature_names

In [8]:
df_sub.iloc[0:4, 1000:1015]

,bartholemew,bartholomew,bartish,bartman,barto,bartrand,bartron,barts,barty,bas,base,baseball,based,basement,basements
raw_character_text,,,,,,,,,,,,,,,
Lisa Simpson,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Lisa Simpson,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Bart Simpson,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Lisa Simpson,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
result = pd.concat([df_subset, df_sub], sort=False)

In [13]:
result.head()

,raw_character_text,spoken_words,000,007,10,1000,10201,108,1094,11,...,zork,zorrinid,zuckerberg,zuh,zumanity,zur,zz,zzzapp,ãªtre,ãºna
1,Lisa Simpson,Where's Mr. Bergstrom?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lisa Simpson,That life is worth living.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Bart Simpson,Victory party under the slide!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Lisa Simpson,Mr. Bergstrom! Mr. Bergstrom!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Lisa Simpson,Do you know where I could find him?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN